.profit-container {
    background-color: #111827;
    padding: 10px;
    border-radius: 10px;
    width: 40vw;
    height: 15vh; /* Adjust width as needed */
    margin: 0 auto; /* Center the container */
    color: white;
    display: flex;
    align-items: flex-start;
  }
  
  .Currency {
    width: 10vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
  }
  
  .chart-container {
    width: 30vw; /* Set width to 20vw */
    height: 12vh; /* Set height to 15vh */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: yellow; */
  }